.categories-and-latest,
.categories-and-top,
.category-list {
  @include custom-card;
}

#custom-list-of-categories {
  @include custom-card;
  box-sizing: border-box;
  padding: 0.5em 0.75em 0.5em 0.75em;
  background: var(--secondary);
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin-bottom: 1.25em;
  border-radius: 1em;

  .custom-category-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: var(--primary-low);
    margin: 0.3em;
    padding: 6px 10px 6px 10px;
    flex-direction: row;

    .cate-color {
      width: 16px;
      height: 16px;
      border-radius: 4px;
      margin-right: 8px;
    }

    span a {
      color: var(--header_primary);
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
    }
  }
}
.navigation-categories {
  #main-outlet-wrapper #main-outlet {
    grid-column-end: sidebar2;

    @media screen and (max-width: 1160px) {
      grid-column-end: auto;
    }
  }

  .custom-right-sidebar {
    display: none;
  }

  .list-controls {
    gap: 0.25em;
  }

  #navigation-bar {
    display: none;
  }
}
