#download-app-btn {
  align-self: center;
  padding: 0.5em 2em;
  margin: 1em 0 0 0;
  background-image: linear-gradient(352deg, #0666eb 43%, #178bfc);
}

.modal-body {
  display: flex;
  flex-direction: column;
}
