.d-header {
  box-shadow: none;
  border-bottom: 1px solid var(--redditish-border-color);

  &:hover {
    border-bottom: 1px solid var(--redditish-border-highlight-color);
  }

  &:has(.menu-panel:hover) {
    border-bottom: 1px solid var(--redditish-border-highlight-color);
  }
}

.menu-panel {
  border-radius: 4px;

  &:hover {
    border: 1px solid var(--redditish-border-highlight-color);
  }
}

.user-menu.revamped .menu-tabs-container {
  padding: 0.5em;
  font-size: var(--font-down-1);

  .top-tabs {
    padding-bottom: 0.5em;
    margin-top: 0.5em;
  }

  .bottom-tabs {
    padding-top: 0.5em;
  }
}

.d-header-icons .icon {
  padding: 0.25em 0.25em;
  border-radius: var(--d-button-border-radius);
  margin-left: 0.5em;

  .d-icon {
    font-size: var(--font-up-2);
  }
}

.d-header .contents .header-buttons button {
  padding: 8px 12px 8px 12px;
  background-image: linear-gradient(352deg, #0666eb 43%, #178bfc);

  .d-icon {
    display: none;
    width: 0;
  }

  .d-button-label {
    width: 6rem;
  }
}

.d-header-icons .active .icon {
  border-color: transparent !important;
}

.header-sidebar-toggle button .d-icon {
  font-size: var(--font-up-2);
  color: var(--primary-medium);
}

.extra-info-wrapper {
  padding-left: 2rem;
}

.floating-search-input {
  width: 70%;
}

.float {
  display: block;
  position: fixed;
  bottom: 1rem;
  right: 40px;
  background-image: linear-gradient(352deg, #0666eb 43%, #178bfc);
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1;
  padding: 0.5em 1em;

  span {
    color: #fff;
  }
}

.mobile-float {
  display: none;
  position: fixed;
  bottom: 3rem;
  right: 40px;
  background-image: linear-gradient(352deg, #0666eb 43%, #178bfc);
  color: #fff;
  border-radius: 100px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1;
  padding: 12px;
  justify-content: center;
  align-items: center;
}

.close-download-button {
  display: none;
  position: fixed;
  bottom: 5.5rem;
  left: calc(50% + 35px);
  z-index: 1;
  background-color: transparent;
  color: #999;
}

#download-app-button-mobile {
  display: none;
  position: fixed;
  bottom: 3rem;
  background-image: linear-gradient(352deg, #0666eb 43%, #178bfc);
  color: #fff;
  border-radius: 100px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1;
  width: 100px;
  height: 45px;
  justify-content: center;
  align-items: center;
  left: calc(50% - 50px);
  flex-direction: row;

  p {
    color: white;
    font-weight: bold;
    line-height: 18px;
    font-size: 14px;
  }
}

#download-app-button-mobile:hover {
  background-image: linear-gradient(352deg, white 43%, white);

  .floating-icon,
  p {
    color: #0666eb;
  }
}

.floating-icon {
  color: #fff;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.3em;
}

#scroll-to-top-btn {
  display: none;
  position: fixed;
  bottom: 5rem;
  right: 40px;
  background-image: linear-gradient(352deg, #0666eb 43%, #178bfc);
  color: #fff;
  border-radius: 100px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1;
  padding: 12px;
  justify-content: center;
  align-items: center;
}

#scroll-to-top-btn.visible {
  display: block;
}

@media screen and (max-width: 720px) {
  #download-app-button {
    display: none;
  }
  #download-app-button-mobile {
    display: block;
  }

  .close-download-button {
    display: block;
  }
}
