{{#if this.isTopRoute}}
  <div class="custom-right-sidebar-sticky_welcome">
    <h2>{{theme-i18n "top_route_welcome"}}</h2>
    <p>
      {{html-safe (theme-i18n "top_route_description")}}
    </p>
  </div>
  <div class="custom-right-sidebar-sticky_recent">
    <SidebarLatestTopics />
  </div>
{{/if}}