<h4>{{theme-i18n "recent_topic"}}</h4>
<div
  class="custom-right-sidebar-sticky_recent-topics"
  {{did-insert this.getLatestTopics}}
>
  {{#each this.latestTopics as |topic|}}
    {{topic-list-item topic=topic}}
  {{/each}}
</div>