<a
  href="https://onelink.to/seohomepageinfina"
  class="float"
  target="_blank"
  id="download-app-button"
>
  <span>{{theme-i18n "download_app"}}</span>
</a>

<a class="close-download-button text-gray-300">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="absolute cursor-pointer -top-4 -right-4 dark:text-gray-300 text-slate-400 opacity-60"
  ><circle cx="12" cy="12" r="10"></circle><line
      x1="15"
      x2="9"
      y1="9"
      y2="15"
    ></line><line x1="9" x2="15" y1="9" y2="15"></line></svg>
</a>

<a
  href="https://onelink.to/seohomepageinfina"
  class="download-mobile-float"
  target="_blank"
  id="download-app-button-mobile"
>
  <p>
    <i class="fa fa-download floating-icon" aria-hidden="true"></i>
    TẢI APP</p>
</a>

<div id="scroll-to-top-btn">
  <i class="fa fa-arrow-up floating-icon" aria-hidden="true"></i>
</div>