<a
  href="https://onelink.to/seohomepageinfina"
  class="float"
  target="_blank"
  id="download-app-button"
>
  <span>{{theme-i18n "download_app"}}</span>
</a>

<a
  href="https://onelink.to/seohomepageinfina"
  class="mobile-float"
  target="_blank"
  id="download-app-button-mobile"
>
  <i class="fa fa-download floating-icon" aria-hidden="true"></i>
</a>

<div id="scroll-to-top-btn">
  <i class="fa fa-arrow-up floating-icon" aria-hidden="true"></i>
</div>